/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* line 16, ../sass/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 20, ../sass/main.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* line 25, ../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 30, ../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 35, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 47, ../sass/main.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 51, ../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 57, ../sass/main.scss */
textarea {
  resize: vertical;
}

/* line 61, ../sass/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*********************************   MENU   **************************************/
/* line 82, ../sass/main.scss */
nav {
  height: 50px;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  z-index: 2000;
}
/* line 88, ../sass/main.scss */
nav ul {
  padding: 0;
  margin: 0 auto;
  width: 450px;
  height: 50px;
}
/* line 94, ../sass/main.scss */
nav li {
  display: inline;
  float: left;
  width: 150px;
  font-size: 14pt;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
/* line 102, ../sass/main.scss */
nav a.menu-home {
  float: left;
  line-height: 50px;
  margin-left: 25px;
  text-decoration: none;
  opacity: 0;
  outline: none;
}
/* line 110, ../sass/main.scss */
nav .menu-links a {
  color: #232323;
  display: block;
  margin: 0 auto;
  width: 70px;
  outline: none;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 125, ../sass/main.scss */
nav a:hover {
  color: #376462;
}
/* line 128, ../sass/main.scss */
nav li:last-child a {
  border-right: 0;
}
/* line 131, ../sass/main.scss */
nav a#pull {
  display: none;
}
/* line 133, ../sass/main.scss */
nav a#pull img {
  width: 35px;
}

/* line 139, ../sass/main.scss */
.menu-home-show {
  opacity: 1;
}

/* line 145, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 149, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/* line 152, ../sass/main.scss */
.clearfix {
  *zoom: 1;
}

/***************************** HEADER ********************************/
/* line 161, ../sass/main.scss */
#home-page {
  background-image: url("../..img/bkg-pattern.jpg");
  background-repeat: repeat;
}

/* line 168, ../sass/main.scss */
#header-main {
  width: 100%;
  padding-top: 50px;
  overflow: auto;
}
/* line 172, ../sass/main.scss */
#header-main img {
  float: left;
  width: 50%;
}

/* line 180, ../sass/main.scss */
.arrow {
  clear: both;
}

/* line 184, ../sass/main.scss */
#arrow-wrapper {
  width: 70px;
  margin: 0 auto;
  padding: 50px 0 100px;
}
/* line 188, ../sass/main.scss */
#arrow-wrapper a {
  outline: none;
}

/***********************************PARALLAX TRANSITIONS*******************************/
/* line 197, ../sass/main.scss */
div.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 205, ../sass/main.scss */
div.module.parallax-1 {
  background-image: url("../../img/work-transition.jpg");
  max-width: 100%;
}

/* line 210, ../sass/main.scss */
div.module.parallax-2 {
  background-image: url("../../img/about-transition.jpg");
  max-width: 100%;
}

/*************************************WORK SECTION**********************************/
/* line 218, ../sass/main.scss */
#work-section {
  background-image: url("../../img/bkg-pattern.jpg");
  background-repeat: repeat;
}

/* line 225, ../sass/main.scss */
.label {
  width: 178px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* line 231, ../sass/main.scss */
.work {
  width: 974px;
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
}

/* line 238, ../sass/main.scss */
.dribbble-cta {
  width: 50%;
  margin: 100px auto 0;
  padding-bottom: 100px;
}
/* line 242, ../sass/main.scss */
.dribbble-cta h2 {
  font-family: "Lato", sans-serif;
  font-size: 24pt;
  font-weight: 400;
  text-align: center;
}
/* line 248, ../sass/main.scss */
.dribbble-cta img {
  margin: 15px 0 0;
}

/* line 253, ../sass/main.scss */
.dribbble-button {
  width: 150px;
  margin: 0 auto;
}

/* line 260, ../sass/main.scss */
.caption-wrapper {
  height: 487px;
  max-width: 100%;
  width: 50%;
  float: left;
  position: relative;
  overflow: hidden;
}
/* line 267, ../sass/main.scss */
.caption-wrapper:hover img {
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden;
  -webkit-transition: all 6600ms ease-out;
  -moz-transition: all 6600ms ease-out;
  -o-transition: all 6600ms ease-out;
  -ms-transition: all 6600ms ease-out;
  transition: all 6600ms ease-out;
}
/* line 279, ../sass/main.scss */
.caption-wrapper img:hover ~ div.overbox {
  opacity: 1;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}
/* line 287, ../sass/main.scss */
.caption-wrapper img {
  position: absolute;
  left: 0;
  max-width: 100%;
}
/* line 292, ../sass/main.scss */
.caption-wrapper div.overbox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 487px;
  height: 42%;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 100;
  opacity: 0;
}
/* line 303, ../sass/main.scss */
.caption-wrapper div.overbox:hover {
  opacity: 1;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}
/* line 311, ../sass/main.scss */
.caption-wrapper h1 {
  font-family: "Lato", sans-serif;
  font-size: 24pt;
  font-weight: 900;
  text-align: center;
  color: #fff;
  margin: 10px 0 10px;
}
/* line 319, ../sass/main.scss */
.caption-wrapper p {
  font-family: "Lato", sans-serif;
  font-size: 14pt;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding: 0 25px;
}
/* line 327, ../sass/main.scss */
.caption-wrapper a {
  color: #376462;
}

/*************************************ABOUT SECTION**********************************/
/* line 336, ../sass/main.scss */
#about-section {
  background-image: url("../../img/bkg-pattern.jpg");
  background-repeat: repeat;
}

/* line 342, ../sass/main.scss */
.about {
  max-width: 90%;
  margin: 0 auto;
  overflow: auto;
}
/* line 346, ../sass/main.scss */
.about h2 {
  font-family: "Lato", sans-serif;
  font-size: 24pt;
  font-weight: 900;
  text-align: center;
  margin-bottom: 25px;
  border-top: 2px solid #0f4745;
  border-bottom: 2px solid #0f4745;
}
/* line 355, ../sass/main.scss */
.about p {
  font-family: "Lato", sans-serif;
  font-size: 22pt;
  font-weight: 400;
  text-align: center;
}
/* line 361, ../sass/main.scss */
.about .work-text {
  padding-bottom: 25px;
  max-width: 80%;
  margin: 0 auto;
}
/* line 365, ../sass/main.scss */
.about .work-text p {
  text-align: left;
  margin-bottom: 50px;
}
/* line 370, ../sass/main.scss */
.about .skills-text {
  width: 240px;
  margin: 0 auto;
}
/* line 374, ../sass/main.scss */
.about li {
  font-family: "Lato", sans-serif;
  font-size: 22pt;
  font-weight: 400;
  text-align: left;
}
/* line 380, ../sass/main.scss */
.about .personal-text {
  max-width: 50%;
}
/* line 382, ../sass/main.scss */
.about .personal-text p {
  text-align: right;
}

/* line 388, ../sass/main.scss */
p.quote {
  font-style: italic;
  font-size: 30pt;
}

/* line 393, ../sass/main.scss */
p.quote-name {
  font-size: 30pt;
}

/* line 398, ../sass/main.scss */
.einstein-pic {
  max-width: 180px;
  margin: 0 auto 100px;
}
/* line 401, ../sass/main.scss */
.einstein-pic img {
  width: 180px;
}

/* line 407, ../sass/main.scss */
.divider {
  max-width: 466px;
  margin: 0 auto 100px;
}

/* line 414, ../sass/main.scss */
.about-graphic {
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 200px;
}
/* line 419, ../sass/main.scss */
.about-graphic h1 {
  font-family: "Lato", sans-serif;
  font-size: 60pt;
  font-weight: 900;
  text-align: center;
  margin-top: 25px;
  max-width: 100%;
}
/* line 427, ../sass/main.scss */
.about-graphic li {
  font-family: "Lato", sans-serif;
  font-size: 30pt;
  font-weight: 400;
  text-align: left;
  max-width: 100%;
}
/* line 434, ../sass/main.scss */
.about-graphic ul {
  max-width: 55%;
  margin: 0 auto;
  list-style-image: url("../../img/bullet.png");
  padding-left: 29%;
}
/* line 440, ../sass/main.scss */
.about-graphic div.graphic-container {
  float: left;
  width: 33%;
  visibility: hidden;
}

/* line 448, ../sass/main.scss */
.icon {
  max-width: 90px;
  margin: 0 auto;
}

/*************************************CONTACT SECTION**********************************/
/* line 457, ../sass/main.scss */
#contact-section {
  background-image: url("../../img/bkg-contact.jpg");
  background-repeat: repeat;
}
/* line 460, ../sass/main.scss */
#contact-section p {
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding-bottom: 50px;
}
/* line 468, ../sass/main.scss */
#contact-section h3 {
  font-family: "Lato", sans-serif;
  font-size: 10pt;
  font-weight: 300;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}

/* line 479, ../sass/main.scss */
.contact-icon-container {
  width: 375px;
  max-width: 100%;
  height: 60px;
  background-color: #376462;
  border-radius: 40px;
  margin: 0 auto 50px;
}
/* line 486, ../sass/main.scss */
.contact-icon-container img {
  margin-right: 35px;
}
/* line 489, ../sass/main.scss */
.contact-icon-container a:nth-child(4) img {
  margin-right: 0px;
}

/* line 494, ../sass/main.scss */
.icon-center {
  width: 235px;
  margin: 0 auto;
  padding-top: 14px;
}

/* line 500, ../sass/main.scss */
.svg-wrapper:hover {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

/*=======================================================Animations=======================================================*/
/* line 512, ../sass/main.scss */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 519, ../sass/main.scss */
.animated2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 526, ../sass/main.scss */
.animated3 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  /* line 534, ../sass/main.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  /* line 540, ../sass/main.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  /* line 548, ../sass/main.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  /* line 554, ../sass/main.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* line 561, ../sass/main.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* line 570, ../sass/main.scss */
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes slideUp {
  /* line 584, ../sass/main.scss */
  0% {
    transform: translateY(40%);
    opacity: 0;
  }

  /* line 588, ../sass/main.scss */
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slideUp {
  /* line 595, ../sass/main.scss */
  0% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }

  /* line 599, ../sass/main.scss */
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}

/* line 608, ../sass/main.scss */
.sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 624, ../sass/main.scss */
.sink:hover {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

/* line 633, ../sass/main.scss */
.grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

/* line 647, ../sass/main.scss */
.grow:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 655, ../sass/main.scss */
.cmn-t-underline2 {
  position: relative;
}

/* line 659, ../sass/main.scss */
.cmn-t-underline2:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -29px;
  width: 0;
  height: 5px;
  background-color: #c9346c;
  border-radius: 25px;
  content: "";
  transition: width 0.5s;
}

/* line 672, ../sass/main.scss */
.cmn-t-underline2:hover {
  color: #c9346c;
}

/* line 676, ../sass/main.scss */
.cmn-t-underline2:hover:after {
  width: 100%;
}

/* line 682, ../sass/main.scss */
.underline-menu {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

/* line 694, ../sass/main.scss */
.underline-menu:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 12px;
  background: #376462;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 710, ../sass/main.scss */
.underline-menu:hover:before {
  left: 0;
  right: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/****************************************** 1000 BREAK POINT ***************************/
@media only screen and (max-width: 1000px) {
  /* line 9, ../sass/_mediaQueries.scss */
  .work .caption-wrapper {
    float: none;
    margin: 0 auto 25px;
    width: 487px;
    max-width: 100%;
  }
  /* line 14, ../sass/_mediaQueries.scss */
  .work .caption-wrapper img {
    width: 100%;
  }
  /* line 17, ../sass/_mediaQueries.scss */
  .work .caption-wrapper div.overbox {
    width: 100%;
  }
}
/****************************************** 800 BREAK POINT ***************************/
@media only screen and (max-width: 800px) {
  /* line 30, ../sass/_mediaQueries.scss */
  a.menu-home {
    display: none;
  }
}
/****************************************** 600 BREAK POINT ***************************/
@media only screen and (max-width: 600px) {
  /* line 42, ../sass/_mediaQueries.scss */
  .about-graphic div.graphic-container {
    float: none;
    margin: 0 auto 75px;
    max-width: 100%;
  }
}
/****************************************** 480 BREAK POINT ***************************/
@media only screen and (max-width: 480px) {
  /* line 57, ../sass/_mediaQueries.scss */
  nav {
    border-bottom: 0;
  }
  /* line 59, ../sass/_mediaQueries.scss */
  nav ul {
    display: none;
    height: auto;
    width: 100%;
    margin: 0;
  }
  /* line 65, ../sass/_mediaQueries.scss */
  nav li {
    float: none;
    width: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #bfbfbf;
  }
  /* line 72, ../sass/_mediaQueries.scss */
  nav a {
    text-align: center;
    width: 100%;
  }
  /* line 76, ../sass/_mediaQueries.scss */
  nav a.menu-home {
    display: none;
  }
  /* line 79, ../sass/_mediaQueries.scss */
  nav a#pull {
    display: block;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    padding: 10px 0 0 10px;
    text-align: left;
  }
  /* line 86, ../sass/_mediaQueries.scss */
  nav a#pull:after {
    content: "";
    background: url("nav-icon.png") no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }

  /* line 100, ../sass/_mediaQueries.scss */
  #header-main img {
    float: none;
    width: 100%;
  }

  /* line 108, ../sass/_mediaQueries.scss */
  .dribbble-cta h2 {
    font-size: 20px;
  }

  /* line 115, ../sass/_mediaQueries.scss */
  .about p {
    font-size: 20px;
  }
  /* line 118, ../sass/_mediaQueries.scss */
  .about .einstein-pic {
    max-width: 80px;
  }
  /* line 120, ../sass/_mediaQueries.scss */
  .about .einstein-pic img {
    width: 80px;
  }

  /* line 129, ../sass/_mediaQueries.scss */
  .work .caption-wrapper img {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  /* line 135, ../sass/_mediaQueries.scss */
  .work .caption-wrapper div.overbox {
    display: none;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 737, ../sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 744, ../sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 751, ../sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 756, ../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 768, ../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 777, ../sass/main.scss */
.invisible {
  visibility: hidden;
}

/* line 782, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 787, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/* line 791, ../sass/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 800, ../sass/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 808, ../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 812, ../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 816, ../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 822, ../sass/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 827, ../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 832, ../sass/main.scss */
  thead {
    display: table-header-group;
  }

  /* line 837, ../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 841, ../sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 851, ../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 857, ../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
